resource_group_name = "fk-api-management-functions-rg"
location            = "westeurope"
publisher_name      = "FoggyKitchen"
publisher_email     = "training@example.com"

tags = {
  project = "foggykitchen"
  env     = "dev"
}
